body {
    background-color: #a29999;
    font-size: large;
}

#principal{
    background-color:white;
}

table{
    border-collapse: collapse;
    text-align: center;
}
td,th{
    width: 120px;
    height: 70px;
}
.eq{
    border-style: solid;
    border-right-style: none;
    border-color: black;
}
.mene{
    border-style: solid;
    border-bottom-style: none;
    border-color: black;
}
.norm{
    border-style: solid;
    border-collapse: collapse;
    border-color: black;
}
.eq1{
    border-style: solid;
    color: #00e2ff;
    border-color : #831946;
}
.eq2{
    border-style: solid;
    color: #831946;
    border-color : #00e2ff;
}
